.reveal h2 {
  color: #278998;
}

.gray {
	color: #ddd;
}





#DIV_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 603.4375px;
    perspective-origin: 570px 301.71875px;
    transform-origin: 570px 301.71875px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    text-align: left;
}/*#DIV_1*/

#H2_2 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 42.3263893127441px;
    position: relative;
    perspective-origin: 570px 21.1631946563721px;
    transform-origin: 570px 21.1631946563721px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1.11111116409302px solid rgb(238, 238, 238);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 30px/36.6666679382324px 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 9px;
}/*#H2_2*/

#SPAN_3 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 30px;
    text-align: center;
    width: 30px;
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    background: rgb(245, 218, 85) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 20px 20px 20px 20px;
    font: normal normal bold normal 16px/30px 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_3*/

#H5_4, #H5_9, #H5_23, #H5_29, #H5_34, #H5_38, #H5_42, #H5_45 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 15.5555562973022px;
    position: relative;
    perspective-origin: 570px 7.77777814865112px;
    transform-origin: 570px 7.77777814865112px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 600 normal 14px/17.1111106872559px 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#H5_4, #H5_9, #H5_23, #H5_29, #H5_34, #H5_38, #H5_42, #H5_45*/

#DIV_5 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 233.784729003906px;
    perspective-origin: 116.892364501953px 17.1006946563721px;
    transform-origin: 116.892364501953px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_5*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 47.7430572509766px;
    perspective-origin: 23.8715286254883px 17.1006946563721px;
    transform-origin: 23.8715286254883px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 0 0 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_6*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 109.722221374512px;
    perspective-origin: 54.8611106872559px 17.1006946563721px;
    transform-origin: 54.8611106872559px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_7*/

#DIV_8 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 78.2986145019531px;
    perspective-origin: 39.1493072509766px 17.1006946563721px;
    transform-origin: 39.1493072509766px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_8*/

#DIV_10 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 856.302124023438px;
    perspective-origin: 428.142364501953px 17.1006946563721px;
    transform-origin: 428.142364501953px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_10*/

#DIV_11 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 77.7951431274414px;
    perspective-origin: 38.8888893127441px 17.1006946563721px;
    transform-origin: 38.8888893127441px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 0 0 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_11*/

#DIV_12 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 92.5520858764648px;
    perspective-origin: 46.2673606872559px 17.1006946563721px;
    transform-origin: 46.2673606872559px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_12*/

#DIV_13 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 71.3541717529297px;
    perspective-origin: 35.6770858764648px 17.1006946563721px;
    transform-origin: 35.6770858764648px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_13*/

#DIV_14 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 51.8923606872559px;
    perspective-origin: 25.9375px 17.1006946563721px;
    transform-origin: 25.9375px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_14*/

#DIV_15 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 72.1180572509766px;
    perspective-origin: 36.0590286254883px 17.1006946563721px;
    transform-origin: 36.0590286254883px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_15*/

#DIV_16 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 61.4930572509766px;
    perspective-origin: 30.7465286254883px 17.1006946563721px;
    transform-origin: 30.7465286254883px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_16*/

#DIV_17 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 56.0416679382324px;
    perspective-origin: 28.0208339691162px 17.1006946563721px;
    transform-origin: 28.0208339691162px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_17*/

#DIV_18 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 56.5798645019531px;
    perspective-origin: 28.28125px 17.1006946563721px;
    transform-origin: 28.28125px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_18*/

#DIV_19 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 60.7118072509766px;
    perspective-origin: 30.3472232818604px 17.1006946563721px;
    transform-origin: 30.3472232818604px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_19*/

#DIV_20 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 91.0416717529297px;
    perspective-origin: 45.5208358764648px 17.1006946563721px;
    transform-origin: 45.5208358764648px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_20*/

#DIV_21 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 90px;
    perspective-origin: 45px 17.1006946563721px;
    transform-origin: 45px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_21*/

#DIV_22 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 85.6076431274414px;
    perspective-origin: 42.7951393127441px 17.1006946563721px;
    transform-origin: 42.7951393127441px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_22*/

#DIV_24 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 247.361114501953px;
    perspective-origin: 123.680557250977px 17.1006946563721px;
    transform-origin: 123.680557250977px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_24*/

#DIV_25 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 67.2048645019531px;
    perspective-origin: 33.59375px 17.1006946563721px;
    transform-origin: 33.59375px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 0 0 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_25*/

#DIV_26 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 70.5555572509766px;
    perspective-origin: 35.2777786254883px 17.1006946563721px;
    transform-origin: 35.2777786254883px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_26*/

#DIV_27 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 56.5451393127441px;
    perspective-origin: 28.2638893127441px 17.1006946563721px;
    transform-origin: 28.2638893127441px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_27*/

#DIV_28 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 56.0243072509766px;
    perspective-origin: 28.0034732818604px 17.1006946563721px;
    transform-origin: 28.0034732818604px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_28*/

#DIV_30 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 186.909729003906px;
    perspective-origin: 93.4548645019531px 17.1006946563721px;
    transform-origin: 93.4548645019531px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_30*/

#DIV_31 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 69.2708358764648px;
    perspective-origin: 34.6354179382324px 17.1006946563721px;
    transform-origin: 34.6354179382324px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 0 0 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_31*/

#DIV_32 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 52.4131965637207px;
    perspective-origin: 26.1979179382324px 17.1006946563721px;
    transform-origin: 26.1979179382324px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_32*/

#DIV_33 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 67.2048645019531px;
    perspective-origin: 33.59375px 17.1006946563721px;
    transform-origin: 33.59375px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_33*/

#DIV_35 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 166.336807250977px;
    perspective-origin: 83.1597213745117px 17.1006946563721px;
    transform-origin: 83.1597213745117px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_35*/

#DIV_36 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 79.375px;
    perspective-origin: 39.6875px 17.1006946563721px;
    transform-origin: 39.6875px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 0 0 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_36*/

#DIV_37 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 87.9513931274414px;
    perspective-origin: 43.9756965637207px 17.1006946563721px;
    transform-origin: 43.9756965637207px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_37*/

#DIV_39 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 118.107643127441px;
    perspective-origin: 59.0451393127441px 17.1006946563721px;
    transform-origin: 59.0451393127441px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_39*/

#DIV_40 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 60.190975189209px;
    perspective-origin: 30.0868072509766px 17.1006946563721px;
    transform-origin: 30.0868072509766px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 0 0 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_40*/

#DIV_41 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 58.90625px;
    perspective-origin: 29.4444446563721px 17.1006946563721px;
    transform-origin: 29.4444446563721px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -1px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_41*/

#DIV_43 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 56.8229179382324px;
    perspective-origin: 28.4027786254883px 17.1006946563721px;
    transform-origin: 28.4027786254883px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_43*/

#DIV_44 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 56.8229179382324px;
    perspective-origin: 28.4027786254883px 17.1006946563721px;
    transform-origin: 28.4027786254883px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_44*/

#DIV_46 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 34.2013893127441px;
    position: relative;
    vertical-align: middle;
    width: 93.125px;
    perspective-origin: 46.5625px 17.1006946563721px;
    transform-origin: 46.5625px 17.1006946563721px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_46*/

#DIV_47 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 34.2013893127441px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 93.125px;
    perspective-origin: 46.5625px 17.1006946563721px;
    transform-origin: 46.5625px 17.1006946563721px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1.11111116409302px solid rgb(204, 204, 204);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px/22.2222003936768px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5.99999952316284px 11.9999990463257px;
}/*#DIV_47*/

